@font-face {
  font-family: "iconfont"; /* Project id 2621984 */
  src: url('iconfont.woff2?t=1624202688364') format('woff2'),
       url('iconfont.woff?t=1624202688364') format('woff'),
       url('iconfont.ttf?t=1624202688364') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\e635";
}

.icon-dianpu:before {
  content: "\e60e";
}

.icon-shoucang:before {
  content: "\e629";
}

